<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="styles.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


  <title>Search Bar</title>
</head>

<body>
  <form method="POST" action="/">
    <div class="search-box">
        <input class="search-input" type="text" name="search_country" placeholder="Search">
        <a href="" class="search-btn">
          <i class="fas fa-search"></i>
        </a>     
      </div>
      </form>

</body>

</html>